.lang-javascript
{
    color: blue;
}
 
.hljs-operations
{
   color:black;
}
 
.hljs-function, .hljs-title
{
    color:red;
}
 
.hljs-params
{
    color: blue;
}
 
 
.hljs-keyword
{
    color: blue;
    font-weight: bold;
}
 
.hljs-number
{
    color: red;
}
 
.hljs-comment
{
    color: green;
}