/*
 * Filename:    Contact.CSS (http://punitdh.github.io/css/contact.css)
 * Author:      Punit Dharmadhikari
 * Github:      https://github.com/PunitDh
 * Description: This is a stylesheet used for styling the contact.html page of the 
 *              website found at http://punitdh.github.io/
 *              I used separate sections to denote different elements of
 *              the page. For example, the COLOUR SCHEME for the page is at
 *              the top to allow for easy modification.
 *              The stylesheet styles elements that are unique to the contact.html
 *              page.
 */


/***********************************************************************************************/
/*** Colour Scheme *****************************************************************************/

#contact .contact-form-container
{
    background-color: #e0e0e0;
}

#contact input[type=submit]:hover
{
    background-color: #6aa8f8;
}

#contact input[type=submit]
{
    background-color: #4c77af;
    color: white;
}

/***********************************************************************************************/
/*** Contact.html Elements *********************************************************************/

#contact .contact-form-container
{
    width: 90%;
    border-radius: 5px;
    padding: 20px;
    font-family: 'Noto Sans JP', sans-serif;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: center;
    max-width: 600px;
    text-align: left; 
}

#contact label
{
    margin-left: 1.7em;
}

#contact div::first-letter
{
    font-size: 2.5em;
    font-style: italic;
}

#contact input[type=text], textarea, input[type=email]
{
    width: 90%;
    margin-left: 2em;
    padding: 12px;
    border: 1px solid;
    background: none;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

#contact input[type=submit]
{
    margin-left: 2em;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#contact textarea
{
    height: 200px;
}

.logo-image
{
    text-align: center;
    width: 4em;
    height: 4em;
}

.logo-link
{
    margin-top: 2em;
    width: 4em;
    height: 4em;

    /* The following animation effects are borrowed from https://ianlunn.github.io/Hover/ and are free for personal use */
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    overflow-y: hidden;
}

/* The animation effects below are borrowed from https://ianlunn.github.io/Hover/ and are free for personal use */
.logo-link:hover, .logo-link:focus, .logo-link:active
{
    -webkit-transform: translateY(-8px);
    transform: translateY(-0.5em);
}

@media screen and (max-width: 420px)
{
    #contact input[type=text], input[type=submit], input[type=email], textarea
    {
        margin-left: 0.25em;
    }

    #contact label { margin-left: 0.25em; }
}