/*********************************************************/
/*** HTML Tags *******************************************/

* /* All */
{
    margin: 0px;
    box-sizing: border-box;
    color:#545464;
    padding: 0px;
    overflow-x: hidden;
}

html
{
    scroll-behavior: smooth;
}

body
{
    font-family: sans-serif;
    font-size: 12pt;
    position: relative;
    background:rgb(235, 235, 235);
    display: block;
}

footer
{
    margin: 1em 0;
    text-align: center;
    margin-bottom: 4em;
}

footer > p
{
    margin-bottom: 1em;
}

H4
{
    color: red;
    font-size: 0.8em; 
}

nav
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Quicksand', sans-serif;
}

section
{
    margin-bottom: 4em;
    margin-left: 2em;
    margin-right: 2em;
    padding: 0.2em;
    text-align: center;
}

textarea 	{ color: blue;	resize: none; }

/***************************************************/
/*** Classes ***************************************/

.box-container
{
    display: inline-flex;
    flex-wrap: wrap;
}

.box-button
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
    background-color: #3946fc;
    color: white;
    width: 200px;
    height: 200px;
    text-decoration: none;
    margin:1em;
    font-family: 'Quicksand', sans-serif;
}

.box-button:hover
{
    cursor: pointer;
    text-decoration: none;
    background-color:mediumblue;
    transition: 0.75s;
    color: white;
}

.front-page, .front-page-portfolio
{
    /* background-color: #fc3939; */
    background-color: #3946fc;
    height: 85%;
    text-align: center;
    color: whitesmoke;
    overflow-y: initial;
    overflow-x: hidden;
}

.front-page-portfolio
{
    background-color: rgb(39, 40, 61);
    background-image: url('/docs/computer-programming-bg.png');
    background-size: 800px 400px;
    background-blend-mode: soft-light;
}

@media screen and (max-width: 374px)
{ .front-page, .front-page-portfolio  { font-size: 80%;}  }

.logo-image
{
    text-align: center;
}

.logo-link
{
    /* text-align: center; */
    margin-top: 2em;
    width: 4em;
    height: 4em;
}

 .nav-button
{
    display: none;
    cursor: pointer;
    /* visibility: hidden; */
} 

.nav-button div 
{
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
}

.nav-links
{
    display: flex;
    justify-content: space-around;
    width: 45%;
}

.nav-links li
{
    list-style: none;
}

.nav-links a,
.nav-links a:active
{
    color: black;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 0.9em;
}

.nav-links a:hover
{
    transition: color 0.5s;
    color: #f34a4a;
    text-decoration: underline;
}

.nav-active
{
    transform: translateX(0%);
    z-index: 999;
}

.overlay
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    border: 5px solid black;
    background-color: #3946fc;
    color: white;
    width: 200px;
    height: 200px;
    transition: 0.3s;
}

.overlay:hover
{
    transform:scaleX(1.1);
    opacity: 0;
}

.pdf-viewer
{
    width: 100%;
    height: 2400px;
}

.section-content
{
    font-family: 'Shippori Mincho B1', 'Times New Roman', serif;
}

.section-content > p::first-letter
{
    font-size: 2.5em;
    font-style: italic;
}

.section-content > p
{
    text-indent: 3em;
    text-align: left;
}

.section-summary::first-letter
{
    font-size: 2.5em;
    font-style: italic;   
}

/* .section-content:nth-of-type(1) {  text-align: center; }
.section-content:nth-of-type(2) {  text-align: right;  }
.section-content:nth-of-type(3) {  text-align: center; }
.section-content:nth-of-type(4) {  text-align: left;   }
.section-content:nth-of-type(5) {  text-align: center; }
.section-content:nth-of-type(6) {  text-align: right;  }
.section-content:nth-of-type(7) {  text-align: center; }
.section-content:nth-of-type(8) {  text-align: left;   } */

.section-heading
{
    margin-top: 1em;
    margin-bottom: 0.4em;
    font-family: 'Pacifico', cursive, sans-serif;
    font-size: 4em;
}

.see-more-button
{
    text-align: right;
}

.s { color: teal; }

.skillscore	{ width: 30%; }

.taglines
{
    color: whitesmoke;
    font-family:'Pacifico', cursive;
    position: relative;
    font-weight: bold;
    font-size: 1.8em;
    padding: 0.5em;
    text-decoration: none;
    display: block;
}

a.taglines:hover {  text-decoration: underline;  }

.unordered-lists
{
    text-align: left;
    list-style: square;
    list-style-type: disc;
}

.unordered-lists > li
{
    list-style-type: disc;
}

/*****************************************************************/
/*** Unique IDs **************************************************/

#logo
{
    font-family: 'Quicksand';
    font-size: 1.5em;
    word-spacing: 0.2em;
    letter-spacing: 0.1em;
    position: relative;
    margin: 0em;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 5px;
}

#contact-links
{
    text-align: center;
}

#bitmoji-pic {  width: 90%;  }

@media screen and (min-width: 425px)
{   #bitmoji-pic { width: 300px; }   }

#skscore { color: brown; }

#skillscore { font-family: sans-serif; text-align: center; }

#skillscore-label { color: red; }

@media screen and (max-width: 600px)
{ #skillscore-label { color: blue; } }



/*****************************************************************/
/*** Media Breakpoints for different screen sizes ****************/

@media screen and (max-width: 800px)
{
    body { overflow-x: hidden;}

    /* .front-page, .front-page-portfolio
    {
        scroll-behavior: unset;
    } */

    .nav-links a,
    .nav-links a:active
    {
        width:100%;
        color:#f8f8f8;
        padding: 2em;
        text-align: center;
    }

    .nav-links
    { 
        position: absolute;
        right: 0px;
        height: 82vh;
        top: 10vh;
        background-color: #3713fd;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.25s ease-in;
    }

    .nav-links li
    {
        display: flex;
        align-items: center;
        width:100%;
        opacity: 0;
        color:#f8f8f8;
        height:20%;
    }

    .nav-links li:hover
    {
        background-color: #4c2cff;
    }

    .nav-links a:hover
    {
        color:#f8f8f8;
    }

    .nav-active
    {
        transform: translateX(0%);
        z-index: 9999;
    }
    
    .nav-button
    {
        display: block;
        position: absolute;
        right: 2em;
    }

    /* .overlay { opacity: 0.8; }  */
}

@media screen and (max-width:340px)
{ 
    .section-heading {  font-size: 1.2em;  }
    .content {  font-size: 0.80em; }
    .content > p {  font-size: 0.80em;  }
    .footer { font-size: 0.70em;  }
}


@media screen and (max-width:700px)
{ 
    .section-heading {  font-size: 1.4em;  }
    .content {  font-size: 0.90em;  }
    .content > p {  font-size: 0.90em;  }
    .footer { font-size: 0.80em;  }
    .see-more-button {  text-align: center;  }
}


/*******************************************************************/
/*** Keyframes *****************************************************/

@keyframes navLinkFade
{
    from
    {
      opacity: 0;
      transform: translateX(50px);
    }
    to
    {
      opacity: 1;
      transform: translateX(0px);
    }
}