/*
 * Filename:    Index.CSS (http://punitdh.github.io/css/index.css)
 * Author:      Punit Dharmadhikari
 * Github:      https://github.com/PunitDh
 * Description: This is a stylesheet used for styling the website found at 
 *              http://punitdh.github.io/
 *              I used separate sections to denote different elements of
 *              the page. For example, the COLOUR SCHEME for the page is at
 *              the top to allow for easy modification.
 *              The stylesheet is then divided into sections to denote IDs,
 *              classes, media breakpoints and keyframe animations.
 */


/***********************************************************************************************/
/*** All ***************************************************************************************/
*
{
    margin: auto;
    box-sizing: border-box;
    color:#645454;
    padding: 0px;
    overflow-x: hidden;
}


/***********************************************************************************************/
/*** Colour Scheme *****************************************************************************/

/* I made a separate section for the colour scheme of the document because I played around
    with the colour scheme for quite some time before deciding on the right colour. */
.front-banner, .overlay
{
    background-color: #3390FF;
}

.nav-links a:hover,
.button-see-more:hover,
footer a:hover
{
    color: #3390FF;
}

body,    /* An off-white colour for the background */
.sticky-bar
{
    background-color: rgb(235, 235, 235);
}

.box-button, .overlay,
.box-button-description /* A white font colour for box buttons */
{
    color: white;
}

/***********************************************************************************************/
/*** HTML Tags *********************************************************************************/

html
{
    scroll-behavior: smooth;
}

body
{
    font-size: 12pt;
    position: relative;
    /* display: block; */
}

a > button
{   cursor: pointer;    }

footer
{
    margin: 1em 0;
    text-align: center;
    margin-bottom: 4em;
}

footer a
{
    font-family: 'Noto Sans JP', sans-serif;
}

footer p
{
    margin-bottom: 1em;
    font-family: 'Noto Serif JP', serif;
}

/* Horizontal Rule */
.section-separator
{
    width: 60%;
}

/* Horizontal Rule section-separator-subsection */
.section-separator-subsection
{
    width: 25%;
    margin-bottom: 2em;
    margin-top: 2em;
}

/* Navigation Bar */
nav
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Noto Sans JP', sans-serif;
}

/* All lists */
ol, ul
{
    width: 80%;
    text-align: left;
    line-height: 2em;
    list-style: outside;
    text-align: justify;
}

li
{
    width: 90%;
    overflow-x: initial;
}

section
{
    margin-bottom: 4em;
    margin-left: 2em;
    margin-right: 2em;
    padding: 0.2em;
    text-align: center;
}

/***********************************************************************************************/
/*** Classes ***********************************************************************************/



/* The animation effects for the "box-buttons" on index.html were borrowed from https://www.w3schools.com/howto/howto_css_flip_card.asp
    I really enjoyed the idea of 3D effects in CSS and decided to use it to show off my portfolio design.  */
.box-container
{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.box-button, .overlay
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    text-decoration: none;
    overflow-y: hidden;
}

.box-button
{
    background-color: transparent;
    width: 200px;
    height: 200px;
    perspective: 1000px;
    margin: 1em;
    border: 0.5em solid black;
}

.box-button-inner
{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.4s;
    transform-style: preserve-3d;
    overflow-x: visible;
}

.box-button:hover .box-button-inner
{
    transform: rotateY(180deg);
}

.box-button-description, .overlay
{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1em;
    
}

.box-button-description
{
    background-color: rgb(0, 0, 82);
    transform: rotateY(180deg);
    display: flex;
    vertical-align: bottom;
    align-items: center;
    font-size: 0.8em;
    overflow-y: hidden;
}

/* The date shown on each blog post */
.blog-post-date
{
    text-align: right;
    font-style: italic;
}

/* The "See More" button */
.button-see-more
{
    text-align: right;
    display: block;
}

/* An <a> tag shaped like a button */
.link-button
{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: #d0d0d0;
    font-family: 'Noto Sans JP', sans-serif;
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow: hidden;
    transition-duration: 0.3s;
    transition-property: color, background-color;
}

.link-button > a
{
    color: rgb(95, 94, 94);
    text-decoration: none;
    padding: 1em;
}

.link-button:hover  > a, .link-button:focus  > a, .link-button:active > a
{
    background-color: #2098D1;
    color: white;
}

/* The large banner on top of every page */
.front-banner, .front-banner-portfolio
{
    top: 8vh;
    height: 85%;
    text-align: center;
    overflow-x: hidden;
}

@media screen and (max-width: 374px)
{ .front-banner { font-size: 80%;}  }

/* The individual button on the nav bar */
.nav-button
{
    display: none;
    cursor: pointer;
    overflow: hidden;
}

.nav-button div
{
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
    transition: all 0.5s ease-out;
}

/* The following effect creates a "rotation" effect of the navigation bar, turning it into an X */
.nav-button div:nth-child(2)         {  transition: all 0.5s ease-out; transition-delay: 0.5s;  }
.nav-button-active div:nth-child(1)  {  transform: rotate(+45deg) translate(5px, 5px);          }
.nav-button-active div:nth-child(2)  {  opacity:0%; transform: rotate(180deg);                  }
.nav-button-active div:nth-child(3)  {  transform: rotate(-45deg) translate(7px, -6px);         }

.nav-links
{
    display: flex;
    justify-content: space-around;
    width: 45%;
    background-color: rgb(235, 235, 235);
}

.nav-links li
{
    list-style: none;
    transition: transform 0.5s ease-out;
}

.nav-links a,
.nav-links a:active
{
    color: black;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 0.9em;
}

.nav-links a:hover,
.button-see-more:hover,
footer a:hover
{
    transition: color 0.3s;
    text-decoration: underline;
}

/* The <iframe> containing a PDF document */
.pdf-viewer
{
    width: 100%;
    height: 2400px;
}

/* The actual content within a section */
.section-content
{
    font-family: 'Noto Serif JP', serif;
}

/* A stylish indentation of the first letter */
.section-content > p::first-letter
{
    font-size: 2.5em;
    font-style: italic;
}

.section-content > p
{
    text-indent: 3em;
    text-align: left;
    line-height: 2em;
    text-align: justify;
    overflow-y: hidden;
}

.section-subheading
{
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.section-summary::first-letter
{
    font-size: 2.5em;
    font-style: italic;   
}

.section-heading
{
    margin-top: 1em;
    margin-bottom: 0.4em;
    font-family: 'Lobster', cursive, sans-serif;
    font-size: 4em;
}

.skillscore	{ width: 30%; }

.taglines
{
    color:               whitesmoke;
    font-family:        'Lobster', cursive, sans-serif;
    position:           relative;
    font-weight:        bold;
    font-size:          1.8em;
    padding:            0.5em;
    text-decoration:    none;
    display:            block;
}

a.taglines:hover {  text-decoration: underline;  }

.work-experience > li:nth-child(1), .work-experience > li:nth-child(2)
{
    text-indent: -1.2em;
    list-style: none;
    font-weight: bold;
}

.work-experience > li:nth-last-child(1)
{
    padding-bottom: 2em;
}

/***********************************************************************************************/
/*** Unique IDs ********************************************************************************/

/* The logo at the top of the page is unique to each page and therefore I made it in to an ID */
#logo
{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1.5em;
    word-spacing: 0.2em;
    position: relative;
    margin: 0em;
    margin-left: 2em;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: left;
}


#contact-links
{
    text-align: center;
}

#bitmoji-pic {  width: 90%;  }

@media screen and (min-width: 425px)
{   
    #bitmoji-pic { width: 300px; }   
}

/* The following style is only for use on a future project */
#skillscore { font-family: 'Noto Sans JP', sans-serif; text-align: center; }

/* The skill tags on my About Me page */
#skilltags-container
{
    text-align: right;
}

#skilltags-container > tfoot
{
    margin-top: 2em;
    text-align: right;
    font-size: 0.7em;
}

#skilltags-container tr meter::-webkit-meter-optimum-value
{
    width: 100px;
    height: 25px;
    box-shadow: 0 5px 5px -5px #999 inset;
    background-image: linear-gradient(90deg, #3390FF 5%, #3390FF 100%);
    background-size: 100% 100%;
}

#skilltags-container  tfoot  tr  td+td
{
    max-width: 100px;
    word-wrap: break-word;
    text-align: left;
}


/***********************************************************************************************/
/*** Media Breakpoints for different screen sizes **********************************************/

@media screen and (max-width: 800px)
{
    body {  overflow-x: hidden;  }

    .nav-links a,
    .nav-links a:active
    {
        width:100%;
        color:#f8f8f8;
        text-align: center;
    }

    .nav-links
    {
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #0906a5;
        display: flex;
        position: fixed;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
    }

    .nav-links li
    {
        display: flex;
        align-items: center;
        width:100%;
        opacity: 0;
        color:#f8f8f8;
        height:20%;
        transition: transform 0.5s ease-out;
        overflow-y: hidden;
        font-size: 2em;
    }

    .nav-links li:hover
    {
        background-color: #4570fd;
    }

    .nav-links a:hover
    {
        color:#f8f8f8;
    }

    .nav-active
    {
        transform: translateX(0%);
        z-index: 9999;
    }
    
    .nav-button
    {
        display: inline-block;
        position: absolute;
        right: 2em;
    }

    .nav-button-active
    {
        position: fixed;
        background-color: rgb(235, 235, 235);
        right: 2em;
        border: 2px solid #0638a5;
    }

    .sticky-bar-active
    {
        display: inline-flex;
        width:100%;
        height: 8vh;
        z-index: 9999;
        position: fixed;
        align-items: center;
        justify-content: inherit;
    }

    ol, ul, li {  width: 90%;  }
}

@media screen and (max-width: 560px)
{   
    .sticky-bar { justify-content: initial; }
    ol, ul, li  {  font-size: 0.95em; list-style: inside; text-align: justify;  }
    .work-experience > li:nth-child(1), .work-experience > li:nth-child(2) { text-indent: 0em; }
}


@media screen and (max-width:340px)
{ 
    .section-heading    {  font-size: 1.8em;  }
    .content            {  font-size: 0.80em; }
    .content > p        {  font-size: 0.80em; }
    .footer             {  font-size: 0.70em; }
    .box-container > a  {  margin-left: 0px;
                           margin-right: 0px;
                           width: 256px;      }
    .box-button         {  width: 75%;        }

    #logo
    {  
        font-size: 1em;
        word-spacing: 0em;
        display: inline;
        letter-spacing: 2px;
    }

    #portfolio
    {
        margin-left: 1.2em;
    }
}

@media screen and (max-width:700px)
{ 
    .section-heading {  font-size: 2.0em;    }
    .content         {  font-size: 0.90em;   }
    .content > p     {  font-size: 0.90em;   }
    .footer          {  font-size: 0.80em;   }
    .blog-post-date,
    .button-see-more {  text-align: center;  }
}


/***********************************************************************************************/
/*** Keyframes *********************************************************************************/

@keyframes navBarAnimation
{
    from
    {
      opacity: 0;
      transform: translateX(50px);
    }
    to
    {
      opacity: 1;
      transform: translateX(0px);
    }
}