.slideshow > div 
{
    top: 1em;
    left: 0;
    display: inline-flex;
    align-items: stretch;
    overflow: hidden;
}

.slideshow .mover > img
{
    max-width: 100%;
    vertical-align: middle;
    border: 5px solid black;
    box-sizing: border-box;
    transition: 2s;
}

.slideshow .mover {  animation: slide 12s infinite linear;  }

.slideshow .mover:hover { animation-play-state: paused; }

@keyframes slide
{
    to 
    {
        -webkit-transform: translateX(-66.6666%);
        transform: translateX(-66.6666%);
    }
}