#tic-tac-toe-banner
{ 
	background-color: rgb(12, 12, 12);
	top: 8vh;
    height: 85%;
    text-align: center;
    overflow-x: hidden;
}

#page-content
{ text-align: center; }

iframe
{ margin-top: 3em; }