gitlog_oneline.txt
CoderAcademyWorkbook.md
test.html
css/test.css
docs/*.jpeg
docs/*.gif
docs/*.pdf
Portfolio_Slide_Deck_Speech.docx
Portfolio_Slide_Deck.pptx
Portfolio_Slide_Deck.pptx
*.pptx
compresspng/
Portfolio_responsive_design_2.pdf
*.zip
Portfolio_responsive_design_1/
Portfolio_responsive_design_2/
Portfolio_Slide_Deck.pptx
coach.html
scripts.html
test.html
GitIgnoreFiles/*
GitIgnoreFiles/
sha.txt
